<div class="modal-header">
         <h3 class="modal-title">Upload Your Creative</h3>
        </div>
        <div class="modal-body custom-height-modal" >
        <div class="row">
                <div class="col-md-12">
                	<div class="col-md-6">
                	<div class="row" ng-show="items.size">
                		<p >Size:{{items.size}}</p>
        				<br>
        				<p ng-show="items.maxSize">Max Size :{{items.maxSize}}</p>
        	
        			</div>
             <div class="col-md-12">
             <div class="up-buttons">
            <div ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles"
                 ng-model-options="modelOptionsObj"
                 ngf-multiple="multiple" ngf-pattern="pattern" ngf-accept="acceptSelect"
                 ng-disabled="disabled" ngf-capture="capture"
                 ngf-drag-over-class="dragOverClassObj"
                 ngf-validate="validateObj"
                 ngf-resize="resizeObj"
                 ngf-resize-if="resizeIfFn($file, $width, $height)"
                 ngf-dimensions="dimensionsFn($file, $width, $height)"
                 ngf-duration="durationFn($file, $duration)"
                 ngf-keep="keepDistinct ? 'distinct' : keep"
                 ngf-fix-orientation="orientation"
                 ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">Select File
              <span ng-show="dropAvailable"> or Drop File</span>
            </div>
            <br/>
            <div ngf-drop ng-model="files" ngf-model-invalid="invalidFiles"
                 ng-model-options="modelOptionsObj"
                 ngf-multiple="multiple" ngf-pattern="'image/*'"
                 ng-disabled="disabled"
                 ngf-drag-over-class="dragOverClassObj"
                 ngf-validate="validateObj"
                 ngf-resize="resizeObj"
                 ngf-resize-if="resizeIfFn($file, $width, $height)"
                 ngf-dimensions="dimensionsFn($file, $width, $height)"
                 ngf-duration="durationFn($file, $duration)"
                 ngf-keep="keepDistinct ? 'distinct' : keep"
                 ngf-enable-firefox-paste="true"
                 ngf-fix-orientation="orientation"
                 ngf-allow-dir="allowDir" class="drop-box" ng-show="dropAvailable">
              <span>Paste or Drop Image from browser</span></div>
          </div>

                   
                  </div>
                  <div class="row" style="margin-top:5px;margin-left:50px"> 
                  	<textarea class="form-control" ng-model= "items.creative.description" placeholder="Enter text/description"></textarea>
                  </div>
                	</div>
                	<div class="col-md-6">
             
		               <div class="preview" style="margin-top:20px">
				            <div>Ad Preview image/audio/video:</div>
				            <img ngf-src="!files[0].$error && files[0]">
				            <audio controls ngf-src="!files[0].$error && files[0]"></audio>
				            <video controls ngf-src="!files[0].$error && files[0]"></video>
		          	</div>
                    </td>
                	</div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
        	<div>
        		  <ul style="clear:both" class="response">
    <li class="sel-file" ng-repeat="f in files">
      <div>
        <img ngf-thumbnail="!f.$error && f" class="thumb">
				<span class="progress" ng-show="f.progress >= 0">
					<div style="width:{{f.progress}}%">{{f.progress}}%</div>
				</span>
        <button class="btn btn-warning" ng-click="f.upload.abort();f.upload.aborted=true"
                ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">
          Abort<span ng-show="isResumeSupported">/Pause</span>
        </button>
        <button class="btn btn-success" ng-click="upload(f, true);f.upload.aborted=false"
                ng-show="isResumeSupported && f.upload != null && f.upload.aborted">Resume
        </button>
        <button class="btn btn-danger" ng-click="restart(f);f.upload.aborted=false"
                ng-show="isResumeSupported && f.upload != null && (f.progress == 100 || f.upload.aborted)">Restart
        </button>
        {{f.name}} - size: {{f.size}}B - type: {{f.type}}
        <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>

        <div ng-show="f.showDetail">
          <br/>

          <div data-ng-show="f.result.result == null">{{f.result}}</div>
          <ul>
            <li ng-repeat="item in f.result.result">
              <div data-ng-show="item.name">file name: {{item.name}}</div>
              <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
              <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
              <div data-ng-show="item.value">value: {{item.value}}</div>
            </li>
          </ul>
          <div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
        </div>
      </div>
    </li>
    <li class="sel-file" ng-repeat="f in invalidFiles">
      <div>Invalid File: {{f.$error}} {{f.$errorParam}}, {{f.name}} - size: {{f.size}}B - type:
        {{f.type}}
      </div>
    </li>
  </ul>

  <br/>

  <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
        	</div>
            <button class="btn btn-primary" type="button" ng-click="ok(items)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>